@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<section class="authBody">
    <div class="authWrapper">
        <div class="authContainer">
            <article class="authBox">
                <div class="authHolder">
                    <div class="authCard">
                        <a routerLink="/" class="logoHolder" title="Promizz"></a>
                        <div class="formHolder">
                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="authForm">
                               
                                <!-- Social buttons -->
                                @{
                                    var externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                    if (externalLogins.Count > 0)
                                    {
                                        @foreach (var provider in externalLogins)
                                        {
                                            <span class="socialWrapper">
                                                <span class="socialHolder @provider.Name-btn">
                                                    <span class="socialIconHolder">
                                                        <span class="socialIcon"></span>
                                                    </span>
                                                    <span class="socialText">Continue with @provider.Name</span>
                                                </span>
                                            </span>
                                            @*<button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>*@
                                        }

                                        <!-- Separator -->
                                        <div class="separatorHolder">
                                            <hr class="separatorLine" />
                                            <div class="separatorOr">or</div>
                                        </div>
                                    }
                                }

                                <!-- Email or Username -->
                                <div class="inputFormWrapper">
                                    <div class="inputFormContainer">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="authInput" placeholder="e.g. john@doe.com" />
                                        <div class="validationMsgHolder errorMsg">
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="inputFormWrapper">
                                    <div class="inputFormContainer">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="authInput" placeholder="e.g. ********" />

                                        <div class="validationMsgHolder errorMsg">
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="inputFormWrapper">
                                    <div class="inputFormContainer">
                                        <div class="form-check">
                                            <input asp-for="RememberMe" class="form-check-input" />
                                            <label asp-for="RememberMe" class="form-check-label">
                                                @Html.DisplayNameFor(m => m.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <!-- Log in button -->
                                <span class="authActionHolder">
                                    <button type="submit" class="btn authActionBtn">Log in</button>
                                </span>

                                <!-- Forgot password action -->
                                <a asp-action="ForgotPassword" class="authActionLink">Forgot your password?</a>

                            </form>
                        </div>

                        <div class="separatorHolder">
                            <hr class="separatorLine" />
                        </div>

                        <div class="questionHolder">
                            <p>
                                Don't have an account?
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
